@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap');

* p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    text-align: center;
    color: cornflowerblue;
    font-size: 300%;
    line-height: 80px;
    padding: 20px;
}

header {
    background-color: black;
    color: cornflowerblue;
    font-family: 'Open Sans', sans-serif;
}

.home-background-image {
    width: 750px;
    height: auto;
    float: right;
    padding-right: 100px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    line-height: 60px;
    justify-content: space-evenly;
}

.nav-span-item {
    font-size: 150%;
}

.nav-span-item>a {
    text-decoration: none;
    color: cornflowerblue;
}